body {
  background-image: url('/drumkit/images/drumset-aliane-schwartzhaupt-QdmUva6qBTk-unsplash.jpg');
  background-size: cover;
  font-family: 'Koulen', cursive;
  text-align: center;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: 'Koulen', cursive;
  letter-spacing: 2rem;
  text-shadow: 3px 0 #bd04da;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

/*Drum Set Keys*/
.set {
  margin: 10% auto;
}

.drum {
  outline: none;
  font-size: 5rem;
  font-family: 'Koulen', cursive;
  line-height: 2;
  font-weight: 900;
  color: #bd04da;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}